<h1>Create new post</h1>

<%= form_for @post do |f| %>

	<%= f.label :title %>
  	<%= f.text_field :title, placeholder: "Title of the post" %>

  	<%= f.label :body %>
    <%= f.text_area :body, rows: 10 %>

  	<%= f.label :published %>
  	<%= f.check_box :published %>

  	<%= f.submit 'Create' %>

<% end %>